.google-logo{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 250px;
}

.search-bar{
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 550px;
    height: 40px;
    border-color: rgb(0, 0, 0);
    opacity: 50%;
    border-width: 1px;
    border-radius: 35px;
    border-style: solid;
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button{

}

#lucky-button{

}