body {
    margin: 0;
}

header{
    height: 70px;
    width: 100%;
    top: 0px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 4px 5px 0px 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


nav li {
    display: inline;
    padding: 10px 5px 0px 10px;
}

#store{
    margin-right: auto;
    padding-left: 15px;
}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

#apps {
    margin: 5px 20px 0px 0px;
    width: 25px;
    height: 25px;
    margin: 2px 15px 0 0;
    padding: 8px;
}

#apps:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 100%;
    padding: 8px;
}


nav button{
    background: rgb(30, 182, 202);
    color: white;
    height: 32px;
    width: 32px;
    font-size: 16px;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(30, 182, 202);
    margin: 5px 8px 0px 0px;
}

nav button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px #d8d8d8;
}

.search-container{
    margin-top: 150px;
}

.google-logo{
    display: block;
    position: relative;
    margin: auto;
}

.search-bar{
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 30px;
    max-width: 550px;
    width: 90%;
    height: 40px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-radius: 35px;
    border-style: solid;
    background: url(/images/search_icon.svg) no-repeat 15px;
    padding-left: 50px;
    font-family: 'Roboto' sans-serif;
}

.search-bar:hover {
    box-shadow: 0px 0px 3px 1px rgb(172, 172, 172);
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin: 25px 10px 10px 10px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(241, 241, 241);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
}

.buttons:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.2);  
    }

footer{
    display: flex;
    background-color: rgb(231, 231, 231);
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer ul{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    opacity: 50%;
    margin: 8px auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4px 5px 5px 30px;
}

footer li {
    display: inline;
    margin: 0px 5px 0px 10px;
    padding: 10px 5px 0px 10px;
}

.floatleft {
    float: left;
}

